* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

img {
    max-width: 100%;
}

body {
    font-family: 'Roboto', sans-serif;
    font-weight: 100;
    font-size: .8rem;
}

/* MAIN */
/* wrapper */
.wrapper {
    background-color: black;
    padding: 3rem;
}

/* row */
.row {
    width: 90%;
    height: 80vh;
    margin: 0 auto;
    display: flex;
    flex-wrap: wrap;
    overflow-y: auto;
}

/* card */
.card {
    background-image: url('../img/profile.jpg');
    background-position: center;
    width: calc(95% / 7);
    height: calc(98% / 5);
    position: relative;
    margin-bottom: .5rem;
    margin-left: calc(5% / 7);
}

.name {
    position: absolute;
    bottom: 0;
    background-color: rgba(0, 0, 0, 0.2);
    padding: .1rem;
    color: white;
}

.view {
    position: absolute;
    top: 5px;
    right: 5px;
    font-size: 0.7rem;
}

.view-option {
    color: white;
    margin: 0.2rem;
    background-color: rgba(255, 255, 255, 0.3);
    padding: .3rem;
    border-radius: .3rem;
}

/* FOOTER */
footer {
    height: 9vh;
    width: 100%;
    background-color: rgb(32, 30, 30);
    position: fixed;
    bottom: 0;
    left: 0;
    z-index: 9999;
    display: flex;
    color: white;
    justify-content: space-between;
}

.flexer {
    display: flex;
}

.option {
    text-align: center;
    padding: .5rem;
    display: block;
    text-decoration: none;
}

.icon {
    font-size: 1.5rem;
}

.angle {
    line-height: 9vh;
    margin-right: .5rem;
}

.green {
    color: green;
}

.footer-right {
    background-color: rgb(74, 73, 73);
    color: red;
    padding: 1.5rem;
    font-weight: 300;
}